<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "member.dao.MemberDAO">

<resultMap type="memberVO" id="memberMap">
	<result column="home_address" property="homeAddress"/>
	<result column="detail_address" property="detailAddress"/>
	<result column="reg_date" property="regDate"/>
</resultMap>	
	<!-- resultType은 select 구문에서만 사용 -->
	<!-- parameterType은 값을 받아야 하는 매개변수가 있는 경우에만 사용 -->
	
	<insert id = "insert" parameterType="memberVO" >
	  insert into userinfo@test_link(id, Name, Password, gender, phone, POSTCODE, HOME_ADDRESS, DETAIL_ADDRESS )
		values(#{id}, #{Name}, #{Password}, #{gender},	#{phone}, #{postcode}, #{homeAddress}, #{detailAddress} )
	</insert>
	
	<!-- <select id="orderInfo" resultType="orderVO">
	select userId, orderDate, memberAddr, memberAddr2, memberPost, itemName, itemCount, itemPrice
	  from orderInfo
	 where #{userId}
	</select> -->
	
	<select id="login" parameterType="memberVO" resultMap="memberMap">
		select *
		  from userinfo@test_link
		 where id = #{id}
		   and Password = #{Password}
	</select>
	
	<!-- <select id="selectTest2" resultType="hashmap">
		select id, userName name, userPassword password, userAge age
		  from m_user
	</select> -->
</mapper>